body {
    /* background-color: rgb(248, 251, 252); */
    background-color: #e8e8e8;
}

h1 {
    text-align: center;
    margin-bottom: 25px;   
}

.container {
    display: flex;
    justify-content: center;
    /* margin-top: 200px; */   
}



button {
    margin: 1.25rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 33px;
    background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
    box-shadow:  11px 11px 24px #c3c3c3,
             -11px -11px 24px #ffffff;
    outline: none;
    border: 0;
    transition: 0.5s;
    font-size: 20px;
    
}

button:hover {
    transform: translateY(-15px);
    border-top: 5px solid green;
    
}

/* .keepscore {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
} */

.keepscore {
    /* display: flex; */
    width: auto;
    /* height: 100px; */
    /* top: 150px; */      
}

#playerscore {
    position: absolute;
    border-radius: 10px;
    font-size: 20px;
    background: black;
    color: white;
    left: 580px;
    z-index: 1;
    top: 170px;
    width: 70px;
    height: 25px;
    padding-left: 10px;
}

#computerscore {
    position: absolute;
    border-radius: 10px;
    font-size: 20px;
    /* text-transform: uppercase; */
    /* text-align: center; */
    background: black;
    color: white;
    /* right: -600px; */
    z-index: 1;
    top: 170px;
    right: 580px;
    width: 70px;
    height: 25px;
    padding-left: 10px;
}

/* green box (user box) */
#userscore {
    position: absolute;
    top: 80px;
    left: 625px;
    display: block;
    text-align: center;
    width: 6.25rem;
    height: 6.25rem;
    font-size: 5rem;
    padding-top: 0.313rem;
    border-radius: 20px;
    background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
    box-shadow:  11px 11px 24px #c3c3c3,
             -11px -11px 24px #ffffff;

}



#compscore {
    position: absolute; 
    top: 80px;
    right: 625px;
    display: block;
    text-align: center;
    width: 6.25rem;
    height: 6.25rem;
    font-size: 5rem;
    padding-top: 0.313rem;
    border-radius: 20px;
    background: linear-gradient(145deg, #f8f8f8, #d1d1d1);
    box-shadow:  11px 11px 24px #c3c3c3,
             -11px -11px 24px #ffffff; 
}

.result  {
    display: block;
    text-align: center;
    position: relative;
    border: 1px solid #e8e8e8;
    width: 100vh;
    height: 6.25rem;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 400px;
    font-size: 30px;
    border-radius: 10px;  
}

.green-glow {
    border: 5px solid green;
}


